:host {
  display: block;
}

#image {
}

#image > img {
  height: 200px;
  width: 385px;
  border-radius: 20px;
  border: 2px solid;
  border-color: green;
  padding: 5px;
}

#content {
  padding-left: 10px;
}

#content header a {
}

#content header {
  height: 6em;
}

#title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

#title > div > a {
  padding-left: 10px;
  color: #08c;
 }

#time {
  background-color: #21b384;
  border-radius: 7px;
  padding: 2px;
}

#content > main {
  max-height: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
}

